.close-up-stylish-tourist-with-icon9 {
  position: absolute;
  top: 8.94rem;
  left: 0;
  border-radius: var(--br-7xs);
  width: 90rem;
  height: 37.75rem;
  object-fit: cover;
  display: none;
}
.collections11 {
  position: absolute;
  top: 13.44rem;
  left: 40rem;
  font-size: var(--font-size-21xl);
  font-weight: 600;
  display: inline-block;
  width: 12.69rem;
  height: 3.56rem;
}
.propackblack-1-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 18.75rem;
  height: 26.25rem;
  object-fit: cover;
  cursor: pointer;
}
.carrymate-pack-black-container1 {
  position: absolute;
  top: 24.44rem;
  left: 3.69rem;
}
.carrymate-gopack-black-container1 {
  position: absolute;
  top: 57.13rem;
  left: 3.69rem;
}
.carrymate-pack-black,
.propackolive-1-icon1 {
  position: absolute;
  top: 19.81rem;
  left: 10.25rem;
  width: 18.75rem;
  height: 62.75rem;
}
.propackolive-1-icon1 {
  left: 62.75rem;
  height: 26.25rem;
  object-fit: cover;
  cursor: pointer;
}
.carrymate-pack-olive-container1 {
  position: absolute;
  top: 44.25rem;
  left: 66.44rem;
}
.propacknavy-1-icon1 {
  position: absolute;
  top: 19.81rem;
  left: 36.5rem;
  width: 18.75rem;
  height: 26.25rem;
  object-fit: cover;
  cursor: pointer;
}
.carrymate-pack-navy-container1 {
  position: absolute;
  top: 44.25rem;
  left: 40.56rem;
}
.propackblack-1-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 18.75rem;
  height: 26.25rem;
  object-fit: cover;
}
.carrymate-cube {
  margin: 0;
  font-weight: 500;
}
.carrymate-cube-black-container {
  position: absolute;
  top: 24.44rem;
  left: 4.5rem;
}
.carrymate-pack-black1,
.propackolive-4-icon {
  position: absolute;
  top: 111.56rem;
  left: 9.44rem;
  width: 18.75rem;
  height: 30.06rem;
}
.propackolive-4-icon {
  left: 60.63rem;
  height: 26.25rem;
  object-fit: cover;
}
.cube-small-black-container {
  position: absolute;
  top: 136rem;
  left: 65.63rem;
}
.propacknavy-4-icon {
  position: absolute;
  top: 111.56rem;
  left: 35.69rem;
  width: 18.75rem;
  height: 26.25rem;
  object-fit: cover;
}
.carrymate-zip-bag-container {
  position: absolute;
  top: 136rem;
  left: 40.56rem;
}
.propackblack-1-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 21px;
  width: 18.75rem;
  height: 19.56rem;
  object-fit: cover;
}
.slingbag-20-black-container {
  position: absolute;
  top: 22.63rem;
  left: 4.5rem;
}
.carrymate-pack-black2 {
  position: absolute;
  top: 83.5rem;
  left: 9.44rem;
  width: 18.75rem;
  height: 28.25rem;
}
.propackolive-3-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 24rem;
  height: 27.88rem;
  object-fit: cover;
}
.carrymate-sling-black-container {
  position: absolute;
  top: 29.25rem;
  left: 6.19rem;
}
.carrymate-pack-black3 {
  position: absolute;
  top: 76.88rem;
  left: 59.19rem;
  width: 24rem;
  height: 34.88rem;
}
.propacknavy-3-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 18.75rem;
  height: 19.5rem;
  object-fit: cover;
}
.gray {
  margin: 0;
}
.carrymate-pack-black4,
.propackolive-2-icon1 {
  position: absolute;
  top: 83.5rem;
  left: 36.06rem;
  width: 18.75rem;
  height: 28.25rem;
}
.propackolive-2-icon1 {
  top: 52.5rem;
  left: 62.75rem;
  height: 26.25rem;
  object-fit: cover;
  cursor: pointer;
}
.carrymate-gopack-olive-container1 {
  position: absolute;
  top: 76.94rem;
  left: 66.44rem;
}
.carrymate-gopack-lunar-container1 {
  position: absolute;
  top: 76.94rem;
  left: 40.56rem;
}
.aer-go-gopack2-black-1-icon1,
.aer-go-gopack2-lunargray-1-icon1 {
  position: absolute;
  top: 54.38rem;
  left: 10.38rem;
  width: 18.75rem;
  height: 22.53rem;
  object-fit: cover;
  cursor: pointer;
}
.aer-go-gopack2-lunargray-1-icon1 {
  top: 54.31rem;
  left: 36.56rem;
  height: 22.56rem;
}
.footer-child7 {
  position: absolute;
  top: 33.88rem;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #0d1821;
  width: 91.13rem;
  height: 33.88rem;
}
.facebook-1-icon9,
.instagram-1-icon9,
.mail-1-icon9 {
  position: absolute;
  top: 20.06rem;
  width: 4.25rem;
  height: 4.25rem;
  object-fit: cover;
}
.instagram-1-icon9 {
  left: 29.75rem;
  border-radius: var(--br-10xs);
}
.facebook-1-icon9,
.mail-1-icon9 {
  left: 43.44rem;
}
.mail-1-icon9 {
  top: 19.81rem;
  left: 57.13rem;
}
.contact-us-here9 {
  position: absolute;
  top: 15rem;
  left: 37.31rem;
}
.faq9,
.terms-and-conditions9 {
  position: absolute;
  top: 3.75rem;
  left: 56.06rem;
}
.terms-and-conditions9 {
  left: 26.31rem;
}
.privacy-policy17,
.shipping10 {
  position: absolute;
  top: 3.75rem;
  left: 8.94rem;
}
.privacy-policy17 {
  left: 70.31rem;
}
.footer9,
.navbar-child49 {
  position: absolute;
  width: 91.13rem;
}
.footer9 {
  top: 154.94rem;
  left: -0.56rem;
  height: 33.88rem;
  font-size: var(--font-size-13xl);
  color: var(--color-snow-100);
  font-family: var(--font-inter);
}
.navbar-child49 {
  top: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #0d1821;
  height: 6.81rem;
}
.navbar-child50 {
  left: 40.63rem;
  background-color: var(--color-lightseagreen);
  width: 9.25rem;
}
.navbar-child50,
.navbar-child51,
.navbar-child52,
.navbar-child53 {
  position: absolute;
  top: 1.94rem;
  border-radius: var(--br-31xl);
  height: 2.88rem;
  display: none;
}
.navbar-child51 {
  left: 67.5rem;
  background-color: var(--color-dimgray);
  width: 10.69rem;
}
.navbar-child52,
.navbar-child53 {
  left: 51.63rem;
  width: 14.38rem;
}
.navbar-child53 {
  left: 79.94rem;
  background-color: var(--color-dimgray);
  width: 6.69rem;
}
.collections12,
.home10 {
  position: absolute;
  top: 2.19rem;
}
.home10 {
  left: 43.19rem;
  color: var(--color-snow-200);
  cursor: pointer;
}
.collections12 {
  left: 52.69rem;
}
.about-us12 {
  left: 68.31rem;
  display: inline-block;
  width: 9.69rem;
  cursor: pointer;
}
.about-us12,
.carrymate11,
.cart11 {
  position: absolute;
  top: 2.19rem;
}
.cart11 {
  left: 80.81rem;
  cursor: pointer;
}
.carrymate11 {
  left: 4.06rem;
  font-weight: 800;
  display: inline-block;
  width: 13rem;
  height: 5.25rem;
}
.navbar11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 91.13rem;
  height: 7.44rem;
  font-size: var(--font-size-13xl);
  color: var(--color-snow-100);
}
.collection-page {
  position: relative;
  background-color: var(--color-whitesmoke);
  width: 100%;
  height: 188.81rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-serca);
}
