.close-up-stylish-tourist-with-icon {
  position: absolute;
  top: 8.94rem;
  left: 0;
  border-radius: var(--br-7xs);
  width: 90rem;
  height: 37.75rem;
  object-fit: cover;
  display: none;
}
.aer-procollection-lifestyle-co-icon {
  position: absolute;
  top: 6.44rem;
  left: 0;
  width: 93.75rem;
  height: 50.63rem;
  object-fit: cover;
}
.homepage-wide-apple-1-icon {
  position: absolute;
  top: 90.44rem;
  left: 64.69rem;
  width: 0.19rem;
  height: 0.06rem;
  object-fit: cover;
}
.text,
.text1 {
  position: absolute;
  top: 71.5rem;
  left: 67.69rem;
  font-family: var(--font-medievalsharp);
}
.text1 {
  top: 76.81rem;
  left: 68.94rem;
  font-family: var(--font-inter);
}
.homepage-wide-packingcubes-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 50.75rem;
  height: 36.06rem;
  object-fit: cover;
}
.packing-cubes-and {
  position: absolute;
  top: 29.25rem;
  left: 13.19rem;
}
.pakkub-and-zip-prev {
  position: absolute;
  top: 58.75rem;
  left: 19.69rem;
  width: 50.75rem;
  height: 36.06rem;
  font-size: var(--font-size-21xl);
}
.homepage-wide-apple-2-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 45.19rem;
  height: 33rem;
  object-fit: cover;
}
.bakpak-prev,
.carrymate-backpack {
  position: absolute;
  top: 31.44rem;
  left: 13.56rem;
}
.bakpak-prev {
  top: 95.06rem;
  left: 22.38rem;
  width: 45.19rem;
  height: 34.5rem;
  font-size: var(--font-size-21xl);
}
.carrymate-slingbag {
  position: absolute;
  top: 26.63rem;
  left: 7.56rem;
}
.aer91023-travelsling2xpac-blac-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 35.81rem;
  height: 26.63rem;
  object-fit: cover;
}
.new-products,
.slingbak-prev {
  position: absolute;
  font-size: var(--font-size-21xl);
}
.slingbak-prev {
  top: 134.06rem;
  left: 27.06rem;
  width: 35.81rem;
  height: 29.69rem;
}
.new-products {
  top: 61.69rem;
  left: 37.38rem;
  font-weight: 600;
  font-family: var(--font-serca);
  display: inline-block;
  width: 15.25rem;
}
.footer-child {
  position: absolute;
  top: 33.88rem;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #0d1821;
  width: 91.13rem;
  height: 33.88rem;
}
.facebook-1-icon,
.instagram-1-icon,
.mail-1-icon {
  position: absolute;
  top: 20.06rem;
  width: 4.25rem;
  height: 4.25rem;
  object-fit: cover;
}
.instagram-1-icon {
  left: 29.75rem;
  border-radius: var(--br-10xs);
}
.facebook-1-icon,
.mail-1-icon {
  left: 43.44rem;
}
.mail-1-icon {
  top: 19.81rem;
  left: 57.13rem;
}
.contact-us-here,
.faq {
  position: absolute;
  top: 15rem;
  left: 37.31rem;
}
.faq {
  top: 3.75rem;
  left: 56.06rem;
}
.privacy-policy,
.shipping,
.terms-and-conditions {
  position: absolute;
  top: 3.75rem;
  left: 26.31rem;
}
.privacy-policy,
.shipping {
  left: 8.94rem;
}
.privacy-policy {
  left: 70.31rem;
}
.footer,
.navbar-child {
  position: absolute;
  width: 91.13rem;
}
.footer {
  top: 172.19rem;
  left: -0.56rem;
  height: 33.88rem;
  color: var(--color-snow-100);
  font-family: var(--font-inter);
}
.navbar-child {
  top: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #0d1821;
  height: 6.81rem;
}
.navbar-item {
  left: 40.63rem;
  background-color: var(--color-lightseagreen);
  width: 9.25rem;
}
.navbar-inner,
.navbar-item,
.rectangle-div,
.rectangle-icon {
  position: absolute;
  top: 1.94rem;
  border-radius: var(--br-31xl);
  height: 2.88rem;
  display: none;
}
.navbar-inner {
  left: 67.5rem;
  background-color: var(--color-dimgray);
  width: 10.69rem;
}
.rectangle-div,
.rectangle-icon {
  left: 51.63rem;
  width: 14.38rem;
}
.rectangle-div {
  left: 79.94rem;
  background-color: var(--color-dimgray);
  width: 6.69rem;
}
.collections,
.home {
  position: absolute;
  top: 2.19rem;
}
.home {
  left: 43.19rem;
  color: var(--color-snow-200);
}
.collections {
  left: 52.69rem;
  cursor: pointer;
}
.about-us {
  left: 68.31rem;
  display: inline-block;
  width: 9.69rem;
  cursor: pointer;
}
.about-us,
.carrymate,
.cart {
  position: absolute;
  top: 2.19rem;
}
.cart {
  left: 80.81rem;
  cursor: pointer;
}
.carrymate {
  left: 4.06rem;
  font-weight: 800;
  display: inline-block;
  width: 13rem;
  height: 5.25rem;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 91.13rem;
  height: 7.44rem;
  color: var(--color-snow-100);
  font-family: var(--font-serca);
}
.home-page {
  position: relative;
  background-color: var(--color-whitesmoke);
  width: 100%;
  height: 206.06rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-serca-condensed);
}
