.privacy-policy11 {
  position: absolute;
  top: 177.63rem;
  left: 74rem;
  font-family: var(--font-inter);
}
.close-up-stylish-tourist-with-icon6 {
  position: absolute;
  top: 8.94rem;
  left: 0;
  border-radius: var(--br-7xs);
  width: 90rem;
  height: 37.75rem;
  object-fit: cover;
  display: none;
}
.propackblack-1-icon {
  position: absolute;
  top: 17.63rem;
  left: 9.75rem;
  width: 32.56rem;
  height: 33.25rem;
  object-fit: cover;
}
.carrymate-pack2 {
  margin: 0;
  font-weight: 500;
}
.black1 {
  margin: 0;
}
.carrymate-pack-black-container,
.lorem-ipsum-dolor-container5 {
  position: absolute;
  top: 19.75rem;
  left: 43.81rem;
  color: var(--color-black);
}
.lorem-ipsum-dolor-container5 {
  top: 29rem;
  font-size: var(--font-size-9xl);
  white-space: pre-wrap;
  display: inline-block;
  width: 40.63rem;
  height: 7.63rem;
}
.add-to-cart5 {
  position: relative;
}
.add-to-cart-wrapper2 {
  position: absolute;
  top: 42.19rem;
  left: 55.13rem;
  border-radius: var(--br-71xl);
  background-color: var(--color-gray);
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-23xl);
  color: var(--color-whitesmoke);
}
.prev-1-child {
  position: absolute;
  top: 42.13rem;
  left: 53rem;
  background-color: var(--color-gainsboro);
  width: 0.19rem;
  height: 0.06rem;
}
.footer-child4 {
  position: absolute;
  top: 33.88rem;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #0d1821;
  width: 91.13rem;
  height: 33.88rem;
}
.facebook-1-icon6,
.instagram-1-icon6,
.mail-1-icon6 {
  position: absolute;
  top: 20.06rem;
  width: 4.25rem;
  height: 4.25rem;
  object-fit: cover;
}
.instagram-1-icon6 {
  left: 29.75rem;
  border-radius: var(--br-10xs);
}
.facebook-1-icon6,
.mail-1-icon6 {
  left: 43.44rem;
}
.mail-1-icon6 {
  top: 19.81rem;
  left: 57.13rem;
}
.contact-us-here6,
.faq6 {
  position: absolute;
  top: 15rem;
  left: 37.31rem;
}
.faq6 {
  top: 3.75rem;
  left: 56.06rem;
}
.privacy-policy12,
.shipping6,
.terms-and-conditions6 {
  position: absolute;
  top: 3.75rem;
  left: 26.31rem;
}
.privacy-policy12,
.shipping6 {
  left: 8.94rem;
}
.privacy-policy12 {
  left: 70.31rem;
}
.footer6,
.navbar-child34 {
  position: absolute;
  width: 91.13rem;
}
.footer6 {
  top: 65.25rem;
  left: -0.56rem;
  height: 33.88rem;
  font-family: var(--font-inter);
}
.navbar-child34 {
  top: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #0d1821;
  height: 6.81rem;
}
.navbar-child35 {
  left: 40.63rem;
  background-color: var(--color-lightseagreen);
  width: 9.25rem;
}
.navbar-child35,
.navbar-child36,
.navbar-child37,
.navbar-child38 {
  position: absolute;
  top: 1.94rem;
  border-radius: var(--br-31xl);
  height: 2.88rem;
  display: none;
}
.navbar-child36 {
  left: 67.5rem;
  background-color: var(--color-dimgray);
  width: 10.69rem;
}
.navbar-child37,
.navbar-child38 {
  left: 51.63rem;
  width: 14.38rem;
}
.navbar-child38 {
  left: 79.94rem;
  background-color: var(--color-dimgray);
  width: 6.69rem;
}
.collections8,
.home7 {
  position: absolute;
  top: 2.19rem;
  cursor: pointer;
}
.home7 {
  left: 43.19rem;
  color: var(--color-snow-200);
}
.collections8 {
  left: 52.69rem;
}
.about-us8 {
  left: 68.31rem;
  display: inline-block;
  width: 9.69rem;
  cursor: pointer;
}
.about-us8,
.carrymate8,
.cart8 {
  position: absolute;
  top: 2.19rem;
}
.cart8 {
  left: 80.81rem;
  cursor: pointer;
}
.carrymate8 {
  left: 4.06rem;
  font-weight: 800;
  display: inline-block;
  width: 13rem;
  height: 5.25rem;
}
.navbar8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 91.13rem;
  height: 7.44rem;
}
.prev-1 {
  position: relative;
  background-color: var(--color-whitesmoke);
  width: 100%;
  height: 99.13rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-snow-100);
  font-family: var(--font-serca);
}
